div#login {
  margin: 40px auto;
}
div#login form {
  margin: auto;
  width: 400px;
  line-height: 18px;
}
div#login form h1 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #5590f1;
  border: 1px solid #5590f1;
  border-bottom-color: #609afa;
  border-radius: 3px 3px 0 0;
  padding: 8px 18px;
}
div#login div.formbody {
  padding: 2em;
  background-color: #e9f1f4;
  overflow: hidden;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: #e9f1f4 #d8dee2 #d8dee2;
  border-radius: 0 0 3px 3px;
}
div#quick_signin {
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 2px dotted #fff;
}
div#quick_signin a {
  padding-left: 6px;
}
div#quick_signin img {
  vertical-align: middle;
}
#login form label {
  font-size: 110%;
  color: #2f424e;
  text-shadow: 0 -1px 0 rgba(100,100,100,0.1);
  cursor: text;
}
#login form input.text,
#login form textarea {
  padding: 5px;
  margin: 0.2em 0 1em 0;
  background-color: #fff;
  display: block;
  width: 330px;
}
#login form input[type="submit"] {
  display: block;
  height: 30px;
  position: relative;
  left: 292px;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  text-shadow: 1px 1px 0 #fff;
  white-space: nowrap;
  border: none;
  outline: none;
  overflow: visible;
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(#fff, #e1e1e1);
  background-image: -webkit-linear-gradient(#fff, #e1e1e1);
  background-image: linear-gradient(#fff, #e1e1e1);
  background-repeat: repeat-x;
  border-bottom: 1px solid #ebebeb;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  padding: 0px 13px;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
#login form input[type="submit"]:hover {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border-bottom-color: #0770a0;
  background-color: #0770a0;
  background-image: -moz-linear-gradient(#0ca6dd, #0770a0);
  background-image: -webkit-linear-gradient(#0ca6dd, #0770a0);
  background-image: linear-gradient(#0ca6dd, #0770a0);
  background-repeat: repeat-x;
}


table, td, th {
  border: 1px solid #CED5DA;
}
table {
  width: %100;
  border-collapse: collapse;
  margin: 5px auto;
}
th {
  background: #D5E0E6;
  height: 16px;
  padding: 4px 8px;
  text-align: left;
}
td {
  padding: 4px;
  text-align: center;
}