<script id="t-collection-header" type="text/template">
<tr><td rowspan="2">Collection</td><td>Object Count</td><td>Collection Size</td><td>Average Object Size</td><td>Storage Size</td><td>Num Extents</td><td>N Indexes</td></tr>
<tr><td>Last Extent Size</td><td>Padding Factor</td><td>System Flags</td><td>User Flags</td><td>Total Index Size</td><td>Index Size</td></tr>
</script>

<script id="t-collection-body", type="text/template">
<tr><td rowspan="2"><%= ns %></td><td id="count"><%= count %></td><td id="size"><%= size %></td><td id="avgObjSize"><%= avgObjSize %></td><td id="storageSize"><%= storageSize %></td><td id="numExtents"><%= numExtents %></td><td id="nindexes"><%= nindexes %></td></tr>
<tr><td id="lastExtentSize"><%= lastExtentSize %></td><td id="paddingFactor"><%= paddingFactor %></td><td id="systemFlags"><%= systemFlags %></td><td id="userFlags"><%= userFlags %></td><td id="totalIndexSize"><%= totalIndexSize %></td><td id="indexSizes"><%= indexSizes %></td></tr>
</script>

<script id="t-database-list" type="text/template">
<li><a href="#status" data-type="database" data-name="<%= name %>"><%= name %> (<%= sizeOnDisk %>MB)</a></li>
</script>

<script id="t-record-list" type="text/template">
<li><a href="#analyze" data-type="record" data-name="<%= id %>"><%= record %></a></li>
</script>

<script id="t-metrics-list" type="text/template">
<li class="nav-header">Metrics</li>
<li><a href="#status" data-type="robot" data-name="user">User</a></li>
<li><a href="#status" data-type="robot" data-name="status">Status</a></li>
<li><a href="#status" data-type="crawler" data-name="">Crawler</a></li>
</script>

<script id="t-weibo-list" type="text/template">
<li class="nav-header">Weibo</li>
<li><a href="#status" data-type="weibo" data-name="user">User</a></li>
<li><a href="#status" data-type="weibo" data-name="status">Status</a></li>
<li><a href="#status" data-type="weibo" data-name="comment">Comment</a></li>
</script>

<!-- user view -->
<script id="t-search-box" type="text/template">
<form class="navbar-search pull-left"><input type="text" class="search-query" placeholder="Search User by Name" /><button type="button" class="clear">×</button></form>
</script>

<script id="t-user-item" type="text/template">
<div class="user-item clearfix" data-user="<%= id %>"><dl class="person"><dt><img src="<%= profile_image_url %>" width="50" height="50" alt="<%= screen_name%>"></dt><dd><strong><%= screen_name %></strong><ul class="user-status"><li><span>关注:</span><strong><%= followers_count %></strong></li><li><span>粉丝:</span><strong><%= friends_count %></strong></li><li><span>微博:</span><strong><%= statuses_count %></strong></li></ul></dd></dl></div>
</script>

<script id="t-paging-view" type="text/template">
<ul>
<li><a href="javascript:void(0);" data-action="-">«</a></li>
<li class="active"><a href="javascript:void(0);" data-action="="></a><form><input type="text"></input></form></li>
<li><a href="javascript:void(0);" data-action="+">»</a></li>
</ul>
</script>

<script id="t-user-state" type="text/template">
<div class="contrib-header clearfix"><h3>Status</h3><div id="calendar-ctrl"><a href="javascript:void(0);" data-ctrl="-">&#60;</a><a href="javascript:void(0);" data-ctrl="+">&#62;</a></div></div>

<div class="contrib-footer"><div class="contrib-info">Summary of Pull Requests, issues opened and commits.</div>
<div class="contrib-legend" title="A summary of pull requests, issues opened, and commits to the default and gh-pages branches.">
<span>Less</span><ul>
<li style="background-color: #eeeeee"></li>
<li style="background-color: #d6e685"></li>
<li style="background-color: #8cc665"></li>
<li style="background-color: #44a340"></li>
<li style="background-color: #1e6823"></li>
</ul><span>More</span></div></div>
</script>

<script id="t-calender-grid" type="text/template">
<div class="col contrib-day"><span class="num"><%= max %></span><%= max_text %><span class="lbl">最大数量</span></div>
<div class="col contrib-streak"><span class="num"><%= act %></span><%= act_text %><span class="lbl">最长时间</span></div>
<div class="col contrib-streak-current"><span class="num"><%= mean %></span><%= mean_text %><span class="lbl">平均数量</span></div>
</script>

<!--<div class="activity-listing">
<div class="period-filter clearfix"><h3>Contribution Activity</h3><div class="select-menu"></div></div>
<div class="contrib-listing">no activity during this period.</div>
</div>-->

<!-- user login -->
<script id="t-user-login" type="text/template">
<form accept-charset="UTF-8" action="/login" method="post">
<h1>用户登录</h1>
<div class="formbody">
<label>帐号：</label><input id="username" autocapitalize="off" autofocus="autofocus" name="login" type="text" tabindex="1" class="text" disabled="disabled"/>
<label>密码：</label><input id="password" autocomplete="disabled" name="password" type="password" tabindex="2" class="text" disabled="disabled"/>
<div class="btn_submit"><input name="commit" tabindex="3" type="submit" value="登录" disabled="disabled"/></div>
<div id="quick_signin"><label>快捷登录</label>
<a href="#login"><img src="/images/qq_login_btn.gif" width="124" height="24"/></a>
<a href="/auth/weibo"><img src="/images/sina_login_btn.png" width="126" height="24"/></a>
</div>
</div>
</form>
</script>


<!-- subhead view -->
<script id="t-subhead-view" type="text/template">
<!--h1>node.js + MongoDB + Backbone.js + Bootstrap + D3.js</h1-->
<h1>微博舆情热点分析系统</h1>
<p>Sleek, intuitive, and powerful micro-blog analyze system for focus public option discover.</p>
</script>

<!-- system view -->
<script id="t-system-view" type="text/template">
<div class="info-table">
<div>
<dl class="clearfix"><dt>Node.JS版本：</dt><dd><%= node %></dd></dl>
<dl class="clearfix"><dt>MongoDB版本：</dt><dd><%= mongo %></dd></dl>
</div>
<div>
<dl class="clearfix"><dt>运行平台：</dt><dd><%= platform %></dd></dl>
<dl class="clearfix"><dt>系统版本：</dt><dd><%= release %></dd></dl>
<dl class="clearfix"><dt>系统类型：</dt><dd><%= type %></dd></dl>
<dl class="clearfix"><dt>系统架构：</dt><dd><%= arch %></dd></dl>
</div>
<div>
<dl class="clearfix"><dt>主机名：</dt><dd><%= hostname %></dd></dl>
<dl class="clearfix"><dt>可用内存：</dt><dd><%= freemem %> MB</dd></dl>
<dl class="clearfix"><dt>总内存：</dt><dd><%= totalmem %> MB</dd></dl>
<dl class="clearfix"><dt>启动时间：</dt><dd><%= uptime %> min</dd></dl>
</div>
</div>
</script>

<!--analyze view-->
<script id="t-datepick-view" type="text/template">
<div id="datepicker-start" class="input-append">
<label>起始日期 </label>
<input data-format="yyyy-MM-dd" type="text"></input>
<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
</div>

<div id="datepicker-end" class="input-append">
<label>结束日期 </label>
<input data-format="yyyy-MM-dd" type="text"></input>
<span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
</div>

<button class="btn">OK</button>
</script>

<script id="t-analyze-hero" type="text/template">
<div class="navbar-inner">
<ul class="nav">
<li><p class="navbar-text">分类：</p></li>
<li><a href="#analyze" data-action="cp">«</a></li>
<li>
<a href="#analyze" data-action="ce">1/1</a>
<form class="navbar-search"><input type="text" class="search-query"></input></form>
</li>
<li><a href="#analyze" data-action="cn">»</a></li>
<li><p class="navbar-text">页码：</p></li>
<li><a href="#analyze" data-action="pp">«</a></li>
<li>
<a href="#analyze" data-action="pe">1/1</a>
<form class="navbar-search"><input type="text" class="search-query"></input></form>
</li>
<li><a href="#analyze" data-action="pn">»</a></li>
</ul>
</div>
</script>

<script id="t-media-item" type="text/template">
<div class="media"><div class="media-body">

<div class="weibo-func clearfix">
<div class="weibo-state"><ul>
<li><span>时间:</span><strong><%= created_at %></strong></li>
<li><span>转发:</span><strong><%= reposts_count %></strong></li>
<li><span>评论:</span><strong><%= comments_count %></strong></li>
</ul></div>

<div class="weibo-user"><ul>
<li><a href="#user/state/<%= user.id %>"><strong><%= user.screen_name %></strong></a></li>
<li><span>关注:</span><strong><%= user.friends_count %></strong></li>
<li><span>粉丝:</span><strong><%= user.followers_count %></strong></li>
<li><span>微博:</span><strong><%= user.statuses_count %></strong></li>
</ul></div>
</div>

<div class="well well-small weibo-text clearfix"><%= text %></div>
</div></div>
</script>

<!-- about view -->
<script id="t-about-view" type="text/template">
<div class="page-header"><h1>微博舆情热点分析系统</h1></div>
<p class="lead">
本毕业设计的目的主要是为了检查对以前所学知识综合运用的能力，设计开发一个微博舆情分析工具。微博舆情分析可以分为两个阶段：微博数据获取和微博数据分析。在微博数据获取阶段，主要任务是通过微博开放平台应用程序接口( Application Programming Interface , API )编程实现微博信息爬取。微博爬虫使用 Javascript 开发，运行于 Node.js 平台之上，而微博数据保存在 MongoDB 数据库中。在微博数据分析阶段，主要任务是对微博信息数据进行过滤，分词和分类分析。微博数据分析则使用 C++ 实现，分析结果使用 Web 的方式呈现。
</p>
</script>