<script id="t-collection-header" type="text/template">
<tr><td rowspan="2">Collection</td><td>Object Count</td><td>Collection Size</td><td>Average Object Size</td><td>Storage Size</td><td>Num Extents</td><td>N Indexes</td></tr>
<tr><td>Last Extent Size</td><td>Padding Factor</td><td>System Flags</td><td>User Flags</td><td>Total Index Size</td><td>Index Size</td></tr>
</script>

<script id="t-collection-body", type="text/template">
<tr><td rowspan="2"><%= ns %></td><td id="count"><%= count %></td><td id="size"><%= size %></td><td id="avgObjSize"><%= avgObjSize %></td><td id="storageSize"><%= storageSize %></td><td id="numExtents"><%= numExtents %></td><td id="nindexes"><%= nindexes %></td></tr>
<tr><td id="lastExtentSize"><%= lastExtentSize %></td><td id="paddingFactor"><%= paddingFactor %></td><td id="systemFlags"><%= systemFlags %></td><td id="userFlags"><%= userFlags %></td><td id="totalIndexSize"><%= totalIndexSize %></td><td id="indexSizes"><%= indexSizes %></td></tr>
</script>

<script id="t-database-list" type="text/template">
<li><a href="#status" data-type="database" data-name="<%= name %>"><%= name %> (<%= sizeOnDisk %>MB)</a></li>
</script>

<script id="t-metrics-list" type="text/template">
<li class="nav-header">Metrics</li>
<li><a href="#status" data-type="robot" data-name="user">User</a></li>
<li><a href="#status" data-type="robot" data-name="status">Status</a></li>
<li><a href="#status" data-type="crawler" data-name="">Crawler</a></li>
</script>

<script id="t-weibo-list" type="text/template">
<li class="nav-header">Weibo</li>
<li><a href="#status" data-type="weibo" data-name="user">User</a></li>
<li><a href="#status" data-type="weibo" data-name="status">Status</a></li>
<li><a href="#status" data-type="weibo" data-name="comment">Comment</a></li>
</script>

<script id="t-status-view" type="text/template">
<div class="span3"><div id="status-list" class="well sidebar-nav"></div></div>
<div id="status-content" class="span9"></div>
</script>

<!-- user view -->
<script id="t-search-box" type="text/template">
<form class="navbar-search pull-left"><input type="text" class="search-query" placeholder="Search User by Name" /><button type="button" class="clear">×</button></form>
</script>

<script id="t-user-item" type="text/template">
<div class="user-item clearfix" data-user="<%= id %>"><dl class="person"><dt><img src="<%= profile_image_url %>" width="50" height="50" alt="<%= screen_name%>"></dt><dd><strong><%= screen_name %></strong><ul class="user-status"><li><span>关注:</span><strong><%= followers_count %></strong></li><li><span>粉丝:</span><strong><%= friends_count %></strong></li><li><span>微博:</span><strong><%= statuses_count %></strong></li></ul></dd></dl></div>
</script>

<script id="t-paging-view" type="text/template">
<ul>
<li><a href="javascript:void(0);" data-action="-">«</a></li>
<li class="active"><a href="javascript:void(0);" data-action="="></a><form><input type="text" /></form></li>
<li><a href="javascript:void(0);" data-action="+">»</a></li>
</ul>
</script>

<script id="t-user-content" type="text/template">
<div class="span3"><div class="well sidebar-nav">

<div class="clearfix">
<form id="user-query" class="navbar-search">
<input type="text" class="search-query" placeholder="search user by name"><button type="button" class="input-clear">×</button>
</form>
</div>

<div id="user-list"></div>
<div class="pagination"><ul id="user-page">
<li class="disabled"><a href="#user" data-action="-">«</a></li>
<li class="active" ><a href="#user" data-action="#">N/N</a></li>
<li class="disabled"><a href="#user" data-action="+">»</a></li>
</ul></div></div></div>
<div id="user-content" class="span9"></div>
</script>

<script id="t-user-state" type="text/template">
<div class="capped-box">

<div class="contrib-header clearfix"><h3>Status</h3><div id="calendar-ctrl"><a href="javascript:void(0);" data-ctrl="-">&#60;</a><a href="javascript:void(0);" data-ctrl="+">&#62;</a></div></div>

<div class="contrib-footer">
<div class="contrib-info">Summary of Pull Requests, issues opened and commits.</div>
<div class="contrib-legend" title="A summary of pull requests, issues opened, and commits to the default and gh-pages branches.">
<span>Less</span><ul>
<li style="background-color: #eeeeee"></li>
<li style="background-color: #d6e685"></li>
<li style="background-color: #8cc665"></li>
<li style="background-color: #44a340"></li>
<li style="background-color: #1e6823"></li>
</ul><span>More</span>
</div>
</div>

<div class="contrib-details grid">
<div class="col contrib-day"><span class="num">5 Total</span>Apr 07 2012 - Apr 07 2013<span class="lbl">Year of Contributions</span></div>
<div class="col contrib-streak"><span class="num">1 days</span>March 11 - March 11<span class="lbl">Longest Streak</span></div>
<div class="col contrib-streak-current"><span class="num">0 days</span>Rock - Hard Place<span class="lbl">Current Streak</span></div>
</div>

</div>

<!--<div class="activity-listing">
<div class="period-filter clearfix"><h3>Contribution Activity</h3><div class="select-menu"></div></div>
<div class="contrib-listing">no activity during this period.</div>
</div>-->
</script>



<!-- user login -->
<script id="t-user-login" type="text/template">
<form accept-charset="UTF-8" action="/login" method="post">
<h1>用户登录</h1>
<div class="formbody">
<label>帐号：</label><input id="username" autocapitalize="off" autofocus="autofocus" name="login" type="text" tabindex="1" class="text"/>
<label>密码：</label><input id="password" autocomplete="disabled" name="password" type="password" tabindex="2" class="text"/>
<div class="btn_submit"><input name="commit" tabindex="3" type="submit" value="登录"/></div>
<div id="quick_signin"><label>快捷登录</label>
<a href="/auth/weibo"><img src="/images/qq_login_btn.gif" width="124" height="24"/></a>
<a href="/auth/weibo"><img src="/images/sina_login_btn.png" width="126" height="24"/></a>
</div>
</div>
</form>
</script>


<!-- subhead view -->
<script id="t-subhead-view" type="text/template">
<!--h1>node.js + MongoDB + Backbone.js + Bootstrap + D3.js</h1-->
<h1>微博舆情热点分析系统</h1>
<p>Sleek, intuitive, and powerful micro-blog analyze system for focus public option discover.</p>
</script>
